@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.answered {
  animation: answered 2s ease-in-out;
}

@keyframes answered {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.matched {
  animation: matched .25s linear;
}


@keyframes matched {
  0% {
    font-size: xx-small;
    opactiy: 0%;
  }

  50% {
  
      opactiy: 50%;
  }

  100% {
  
      opactiy: 100%;
  }
}
.icebreaker {
  animation: icebreaker 3s linear;
}


@keyframes icebreaker {
  0% {
    opacity: 0%
  }

  50% {
  
      opactiy: 0%;
  }

  100% {
  
      opactiy: 100%;
  }
}
